* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  width: 90%;
  margin: 50px auto;
  background-color: #64257b;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 2);
  position: relative;
  min-height: 33rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px; 
  background-image: url('assets/img/fondo.png');
  background-size: contain;
  transform: translate(-50%, -50%);
  filter: blur(0px);
  z-index: 1;
}

.container > * {
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 1rem;
}

.nav a {
  padding: 10px 20px;
  background-color: #f5f5f5;
  text-decoration: none;
  color: #333;
  border-radius: 30px;
}

.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  display: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.barraRegistro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem; 
}

.add-button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

/* El modal (oculto por defecto) */
.modal {
  display: none;
  position: fixed;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-direction: column;
  margin: 5px;
  margin-top: 10px;
}

.modal-content {
  background-color: #fefefe !important;
  border: 1px solid #888;
  width: 80% !important;
  border-radius: 30px;
  padding: 1rem;
}

.buttons-content {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  gap: 2rem;

  button {
    width: 100% !important;
    background-color: transparent;
    border: 1px solid #000;
    padding: .3rem 0;
    font-weight: 500;

    &:nth-child(1) {
      border-color: #000;
      &:hover {
        background-color: #d7d7d7b6;
      }
    }
    &:nth-child(2) {
      background-color: #64257b;
      color: #fff;
      border-color: #9538b6;
      &:hover {
        background-color: #9538b6;
      }
    }
  }

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  padding: 5px 10px;
  background-color: #f5f5f5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  border-radius: 30px;
}

.form__content {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  padding: 1rem;
  gap: 3.5rem;

  & > div {
    display: flex !important;
    flex-direction: column;
  }
}


.form__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: .6rem;
  max-width: 450px;
}

.form__items > div {
  display: flex;
  flex-direction: column;

  & > input {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 .3rem;
    outline: none;
  }
}

.modal-content-x {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

textarea {
  min-height: 100px;
  max-height: 100px;
  padding: .5rem;
}

label {
  font-weight: 500;
}

.group-habitaciones {
  display: flex !important;
  flex-direction: row !important;

  & > label {
    display: flex;
    justify-content: center;
    background-color: beige;
  }
}

.select-content {
  display: flex;
  justify-content: center;
  width: 100%;


  & > select {
    text-align: center;
    width: 100%;
    max-width: 90%;
    cursor: pointer;
  }
}

#add-habitaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59, 153, 59);
  color: #fff;
  border-radius: 3px;
  padding: .2rem 0;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 141, 0);
  }
}

#form-habitaciones {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem 0 0;
  gap: 1rem;
  width: 100%;
  height: 140px;
  overflow-y: auto;
}

.del-habitacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.637);

  &:hover {
    background-color: rgba(255, 0, 0, 0.805);
  }
}