:root {

  --primary-color: #747bff;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  box-sizing: border-box;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

#root {
  /* display: grid;
  place-items: center; */
  width: 100%;
  height: 100vh;
}

body {
  /* width: 100%; */
  /* display: grid;
  place-items: center; */
  /* height: 100vh; */
}

/* main */

.main {
  width: 100%;
  padding: 0 1.8rem;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: self-start;
  width: 100%;
  min-height: 12vh;
  padding: 1rem 1.8rem;
  margin-bottom: 2rem;
  background-color: #141414;
  border-bottom: 2px solid #747bff6c;

  .header__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    line-height: 28px;

    p {
      &::first-letter {
        color: #747bff;
      }
    }

    p:nth-child(2) {
      padding-left: 1rem;
    }
  }

  .header__content {
    display: flex;
    /* background-color: #292b55; */
    background-color: #252750;
    padding: .4rem 1rem;
    border-radius: 1rem;
    gap: 1rem;

    .header__item {
      list-style: none;

      .header__link {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #8e93ff;
        }
      }
    }
  }

  .header__profile {
    display: grid;
    place-content: center;
    background-color: #252750;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    text-wrap: wrap;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
      border-color: #ffffff65;
    }
  }
}

/* Inicio */

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10rem;

  & > div {
    max-width: 900px;
  }
  h2 {
    color: #747bff;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }

  p:nth-child(3) {
    margin-top: 1rem;
  }

  p {
    font-size: 2rem;
    line-height: 40px;
  }
}

/* habitaciones */

.habitaciones {
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
}

/* Form Habitaciones */

.hform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  background-color: hsl(208, 37%, 20%);
  border-radius: 20px;
  padding: 1rem;

  .hform__content {
    display: flex;
    flex-direction: column;
    gap: .6rem;

    div {
      display: flex;
      flex-direction: column;

      label {
        font-weight: bold;
        padding-left: .6rem;
        padding-bottom: .2rem;
      }

      input {
        padding: .8rem 1rem;
        border-radius: 10px;
        outline: none;
        border: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      select {
        padding: .8rem 1rem;
        border-radius: 10px;
        outline: none;
        border: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    }
  }

  .hform__button {
    background-color: green;
    border: none;
    padding: .8rem;
    margin-top: 1.6rem;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 158, 0);
    }
  }
}

/* Board Habitaciones */

.hboard {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  max-height: 5600px;
  border-radius: 20px;
  padding: 1rem 1.4rem;
  background-color: #213547;
  overflow-y: auto;
  overflow-x: hidden;

  thead {
    width: 100%;
    background-color: #141414;
    padding: 1rem;
    border-radius: 10px;
  }

  tbody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: .6rem 0;
    margin-top: .2rem;
    border-radius: 10px;
    gap: .6rem;

    tr {
      background-color: #383b7d;
      padding: .6rem;
      border-radius: 10px;
      border: 2px solid #747bff;
    }
  }

  tr {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1.4rem;
    width: 100%;
  }

  button {
    border: none;
    font-size: 1rem;
    padding: .4rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .edit {
    background-color: blue;
  }

  .del {
    background-color: red;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
